.magnet-lines-container {
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 0;
}

.magnet-line {
  display: block;
  width: var(--line-width);
  height: var(--line-height);
  background-color: var(--line-color);
  border-radius: 9999px;
  will-change: transform;
  transform: rotate(calc(var(--rotate, 0deg) + var(--base-angle, 0deg)));
}
